<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Level Access Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./LevelAccessForm.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  </head>


  <body class="container">
    
  <div id="app">

    <form id="app">

      <p>{{message}}</p>

      <div class="m-4">

        <h5>Password requires: </h5>
        <span class="badge badge-pill" 
              :class="{'badge-success': hasCapital, 'badge-danger': !hasCapital}">One upper case</span>

        <span class="badge badge-pill" 
              :class="{'badge-success': hasNumber, 'badge-danger': !hasNumber}">One number</span>

        <span class="badge badge-pill" 
              :class="{'badge-success': enoughLower, 'badge-danger': !enoughLower}">8 or more lower case</span>
      </div>  

      <div class="form-group row">

        <label class="col-sm-2 col-form-label">User Name</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="" placeholder="" 
                  v-model="userName" v-on:keyup.enter="checkInput"
          >
        </div>

      </div>

      <div class="form-group row">

        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="" placeholder="" 
                  v-model="password" v-on:keyup.enter="checkInput"
          >
        </div>

      </div>

    </form>

  </div>


  <script>

    var form = new Vue({

      el: '#app',
      
      data: {
        password: "",
        userName: "",

        hasCapital: false,
        numLowerCase: 0,
        hasNumber: false,

        message:"no input"
      },

     methods: {

        isValidPassword() {

          // password must include one capital letter, 8 or more lower case letters, and at least one number
          for(let i = 0; i < this.password.length; i++) {

              let letterAscii = this.password[i].charCodeAt();

              if("0".charCodeAt() <= letterAscii && letterAscii <= "9".charCodeAt()) {
                this.hasNumber = true;
              }

              else if("A".charCodeAt() <= letterAscii && letterAscii <= "Z".charCodeAt()) {
                this.hasCapital = true;
              }

              else if("a".charCodeAt() <= letterAscii && letterAscii <= "z".charCodeAt()) {
                this.numLowerCase++;
              }
          }

          return this.hasCapital && this.hasNumber && (this.numLowerCase > 7)
        },

        checkInput: function () {
          
          //password met requirements
          if(this.isValidPassword()) {

            this.message = `You're all signed up ${this.userName}`;
          }
          else 
            this.message = `somethings wrong..`;

        }
      },

      computed: {

        enoughLower() {

          return this.numLowerCase > 7;
        }

      }

    })

  </script>










    <!-- Bootstrap, Vue -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- Vue -->

  </body>
</html>